/*--------------------------------------------------------------
 Header
--------------------------------------------------------------*/
.span4 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.content-heading {
    color: #32E0C4;
}

.content-heading > h1 {
    color: #32E0C4;
    font-size: 33px;
    font-weight: 700;
    margin: 0
}

.logo-container > img {
    display: block;
    margin: 20px auto;
}

/*--------------------------------------------------------------
 End Header
--------------------------------------------------------------*/

/*--------------------------------------------------------------
 Login Section
--------------------------------------------------------------*/

div #main-section {
    padding: 0;
}

.container {
    height: 100%;
    align-content: center;
}

.card {
    border: none;
}


.card-login {
    border: none;
    width: 300px;
    height: 100px;
    margin-top: 50px;
}

.card-signup {
    border: none;
    width: 300px;
    height: 100px;
}

.card-header {
    border: none;
    background-color: white;
    padding: 10px 0;
}

.card-footer {
    border: none;
    background-color: white;
}

.span4 > img {
    float: left;
    width: 38px;
    margin-right: 18px;
}

.input-group-prepend span {
    background-color: white;
    color: black;
    border: none;
}

.bx-user {
    font-size: 28px;
    color: #0D7377;
}

.bx-lock-alt {
    font-size: 28px;
    color: #0D7377;
}

.form-control {
    border: none;
    /*border-bottom: 1px solid #E6E6E6;*/
    outline: unset !important;
    box-shadow: 0 0 0 0 !important;
}

input:focus {
    border: none;
    outline: none !important;
    box-shadow: 0 0 0 0 !important;
}

input[type=button] {
    background-color: #32E0C4 !important;
}

input:focus ~ .floating-label-login,
input:focus ~ .floating-label-signup,
input:not(:focus):valid ~ .floating-label-login,
input:not(:focus):valid ~ .floating-label-signup {
    top: -10px;
    bottom: 20px;
    left: 0;
    font-size: 11px;
    opacity: 1;
}

.form-control {
    font-size: 14px;
    width: 200px;
    height: 35px;
}


.floating-label-login {
    color: #495057;
    position: absolute;
    pointer-events: none;
    top: 6px;
    left: 55px;
    z-index: 999;
    transition: 0.3s ease all;
}

.floating-label-signup {
    color: #495057;
    position: absolute;
    pointer-events: none;
    top: 6px;
    left: 15px;
    z-index: 999;
    transition: 0.3s ease all;
}

.login_btn {
    border: none;
    outline: none !important;
    box-shadow: none !important;
    border-radius: 50px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    background-color: #32E0C4;
    width: 220px;
    height: 43px;
    margin-top: 15%;
}

.login_btn:hover {
    background-color: #32E0C4;
    color: black;
}

.forgot-password-link {
    width: 105%;
    margin: 0 auto;
    text-align: center;
    color: rgba(19, 44, 51, 0.6);
}

.links a {
    margin-left: 4px;
}

.input-group .form-group {
    align-items: center;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 20px;
}

.form-validation-feedback {
    margin: 0 10px;
    font-size: 13px;
    color: red;
}


div#main-section .input-group {
    border-bottom: 1px solid #E6E6E6;
}

/*--------------------------------------------------------------
 End Login page
--------------------------------------------------------------*/
/*--------------------------------------------------------------
 Sign up page
--------------------------------------------------------------*/
.heading-centered {
    width: 100%;
    color: #32E0C4;
    font-size: 12px;
    font-weight: 700;
}
/*--------------------------------------------------------------
 End Sign up page
--------------------------------------------------------------*/
/*--------------------------------------------------------------
 Agenda page
--------------------------------------------------------------*/
.card-body {
    margin: 0;
    padding: 0;
}

.meeting-date {
    font-size: 23px;
    font-weight: 700;
    color: #0D7377;
    margin-bottom: 22px;
}

.card-hours {
    vertical-align: top;
    margin-left: 65px;
    top: 0;
    margin-top: -3px;
}

.bx-chevron-down {
    vertical-align: middle;
    font-size: 37px;
    margin-left: 7px;
    color: rgba(19, 44, 51, 0.6);
}

.card-description-title, .card-participants-title {
    font-size: 16px;
}

.card-text {
    font-size: 13px;
}

.bx-trash {
    vertical-align: middle;
    font-size: 17px;
}

.btn-danger {
    width: 35px;
    height: 33px;
}

.agenda-button-row {
    margin: 0;
}

.btn-info {
    margin-left: 8px;
    width: 90px;
    height: 33px;
    font-size: 13px;
}

.bx-edit-alt {
    vertical-align: middle;
}

.bx-right-arrow-alt {
    vertical-align: middle;
    margin-left: 2px;
    font-size: 20px;
}

.btn-success {
    background-color: #0D7377;
    margin-left: 40px;
    font-size: 13px;
    width: 130px;
    height: 33px;
}

ul.task {
    padding: 0;
    list-style: none;
    color: #707070;
}

li.task {
    font-size: 19px;
    cursor: pointer;
}

ul.tasks {
    list-style: none;
    color: #707070;
    padding-left: 15px;
}

li.task.open i {
    transform: rotate(180deg);
}

li.task i {
    transition: transform .5s ease-in;
}

.bx-plus {
    vertical-align: middle;
    font-size: 40px;
    border-radius: 20px;
    margin-left: 9px;
    background-color: #e6e0e0;
    color: #32E0C4;
}

@media only screen and (max-width: 600px) {
    .new-meeting {
        text-align: right !important;
    }
}

.new-meeting {
    display: block;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.btn-new-meeting {
    margin: 40px 0 40px 0;
    font-size: 22px;
    font-weight: 700;
    color: #0D7377;
    background-color: white;
    border: none;
    border-radius: 50px;
}

.btn-new-meeting:hover {
    color: white;
    background-color: #0D7377;
    border: none;
}

/*--------------------------------------------------------------
 End Agenda page
--------------------------------------------------------------*/

/*--------------------------------------------------------------
 Meeting Comments page
--------------------------------------------------------------*/
.meeting-header {
    box-shadow: 0 37px 30px 0 rgba(20, 20, 20, 0.1);
}

.bx-chevron-left {
    color: #0D7377;
    font-size: 40px;
    margin-top: 5px;
}

.bx-chevron-left:hover {
    color: #16595c;
}

.date-heading {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid rgba(19, 44, 51, 0.2); 
    line-height: 0.1em;
    margin: 10px 0 20px; 
}

.date-heading span {
    background: white; 
    padding: 0 12px; 
}

.date {
    font-size: 12px;
}

.meeting-name {
    font-size: 26px;
    font-weight: 700;
    margin: 7px 0 0 10px;   
    color: #0D7377;
}
.bx-dots-vertical-rounded {
    font-size: 30px;
    margin: 8px 0 0 85px;
    color: #0D7377;
}

.bx-dots-vertical-rounded:hover {
    color: #16595c;
}

.messagebox {
    position: relative;
    background-color: #0D7377;
    border-radius: 20px;
    font-weight: 400;
    font-size: 17px;
    padding: 4px 10px 1px 10px;
}
 
.meeting-notes {
    background-color: #F9F9F9;
    padding: 0 0 50px 0;
}

.msg-inbox {
    overflow: hidden;
    padding-bottom: 30px;
}

.chats {
    padding: 30px 0 0 10px;   
}

.msg-page {
    height: 560px;
    overflow-y: auto;
}

.received-chats-name {
    padding: 0 0 0 10px;
}

.received-chats-name > p {
    margin-bottom: 5px;
    font-size: 14px;
}

.received-msg {
    display: inline-block;
    vertical-align: top;
    width: 85%;
}

.received-msg-inbox {
    width: 60%;
}

.received-msg-inbox p {
    background: #cecece none repeat scroll 0 0;
    border-radius: 25px;
    padding: 10px 10px 10px 10px;
    font-size: 16px;
    margin: 0;
    width: 100%;
}

.outgoing-chats {
    overflow: hidden;
    margin: 25px 10px;
}
 
.outgoing-chats p {
    background: #16595c none repeat scroll 0 0;
    border-radius: 30px; 
    padding: 10px 5px 12px 15px;
    color: white;
    font-size: 16px;
}

.outgoing-msg {
    float: left;
    width: 75%;
    margin-left: 23%;
}

.msg-typing {
    position: fixed;
    display: inline-block;
    margin: 0 auto;
    width: 90%;
    bottom: 25px;
}

.input-group {
    float: right;
    outline: none !important;
    border: none;
    width: 100%;
    border-color: white ;
}

.form-control {
    border: 2px solid #0D7377;
    border-radius: 30px !important;
}

.form-control:focus {
    border: 2px solid #0D7377;
}

.input-group-append .input-group-text {
    border: none;
    background-color:  #fff;
}

.bxs-paper-plane {
    font-size: 25px;
}

/* Responsive CSS for Desktop View */
@media screen and (min-width: 410px) {
    .msg-typing {
        position: relative;
        width: 340px;
    }
}
/* END: Responsive CSS for Desktop View */

/*--------------------------------------------------------------
End Meeting Comments page
--------------------------------------------------------------*/

/*--------------------------------------------------------------
 Footer
--------------------------------------------------------------*/
#footer .credits {
    color: rgba(19, 44, 51, 0.6);;
    text-align: center;
    font-size: 13px;
    padding-top: 25px;
}

.social-links > p {
    color: rgba(19, 44, 51, 0.6);
    text-align: center;
}

.copyleft {
    font-size: 12px;
}


#footer {
    position: fixed;
    bottom: 15px;
    width: 100%;
}

/*--------------------------------------------------------------
 End Footer
--------------------------------------------------------------*/
/*--------------------------------------------------------------
 Meeting page 
--------------------------------------------------------------*/


div#main-section a {
    color: #0d7377;
}

body.register div#main-section .input-group {
    margin-bottom: 25px;
}

body.register div#main-section {
    margin-top: 20px;
}


body.meeting div#main-section > form {
    padding: 30px 10px;
}

body.meeting div#main-section .form-group.meeting-title {
    border-bottom: 2px solid #0D7377;
    margin: 0;
    width: 100%;
    margin-top: 25px;
}

body.meeting .meeting-title input:not(:focus):valid ~ span.floating-label-login {
    top: 3px;
    left: 10px;
    font-size: 23px;
    font-weight: bold;
    color: #0d7377;
    line-height: 23px;
    height: 26px;
}

body.meeting h4 {
    font-weight: 100;
    font-size: 20px;
    display: block;
    color: #545454;
}

body.meeting .input-group.form-group.meeting-desc {
    flex-direction: column;
}

body.meeting textarea.meeting-desc {
    border: unset;
}

body.meeting .datetime-container {
    display: flex;
    align-items: center;
    width: calc(100% - 20px);
    margin-top: 20px;
}

.datetime-container > * {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 5px;
}

body.meeting .datepicker, body.meeting input.timepicker {
    max-width: 80%;
    display: block;
    border: unset;
    font-size: 15px;
    padding: 10px;
}

.input-group.form-group.meeting-participants {
    margin-top: 20px;
    flex-direction: column;
}

.meeting-headline {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

button#add_participants {
    border: unset;
    background: transparent;
    padding: 0;
    display: flex;
    margin: 0 0 0 10px;
}

.meeting-participant {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.meeting-participants-list {
    background: #F2F2F2;
    border-radius: 10px;
    padding: 10px;
}

button.sticky-button {
    border: unset;
    position: absolute;
    bottom: 15px;
    background: #32E0C4;
    color: white;
    font-size: 22px;
    font-weight: bold;
    width: 220px;
    padding: 5px;
    border-radius: 20px;
    display: block;
    margin: auto;
    left: calc(50% - 110px);
}

body.meeting input:not(:focus):valid ~ .floating-label-login {
    font-weight: 100;
    font-size: 20px;
    display: block;
    color: #545454;
    top: 6px;
    left: 40px;
}

body.meeting .selected input:not(:focus):valid ~ .floating-label-login,
body.meeting input:focus ~ .floating-label-login,
body.meeting .meeting-title.selected input:not(:focus):valid ~ .floating-label-login {
    top: -18px;
    bottom: 20px;
    left: 0;
    font-size: 17px;
    opacity: 1;
}

.meeting-headline h4 {
    margin: 0;
}

textarea.meeting-desc:focus {
    outline: unset;
}

.input-group.form-group.meeting-desc {
    margin-top: 20px;
}
a.go-back {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
}
a.go-back img {
    margin-right: 10px;
}
/*--------------------------------------------------------------
 End Meeting page 
--------------------------------------------------------------*/