/*--------------------------------------------------------------
 Header
--------------------------------------------------------------*/
.span4 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.content-heading {
    color: #32E0C4;
}

.content-heading > h1 {
    color: #32E0C4;
    font-size: 33px;
    font-weight: 700;
    margin: 0
}

.logo-container > img {
    display: block;
    margin: 20px auto;
}

/*--------------------------------------------------------------
 End Header
--------------------------------------------------------------*/

/*--------------------------------------------------------------
 Login Section
--------------------------------------------------------------*/

div #main-section {
    padding: 0;
}

.container {
    align-content: center;
}

.card {
    border: none;
}


.card-login {
    border: none;
    width: 300px;
    margin-top: 50px;
}

.card-signup {
    border: none;
    width: 300px;
    height: 100px;
}

.card-header {
    border: none;
    background-color: white;
    padding: 10px 0;
}
.error-message {
    width: 100%;
    text-align: center;
    color: red;
}

.card-footer {
    border: none;
    background-color: white;
}

.span4 > img {
    float: left;
    width: 38px;
    margin-right: 18px;
}

.input-group-prepend span {
    background-color: white;
    color: black;
    border: none;
}

.bx-user {
    font-size: 28px;
    color: #0D7377;
}

.bx-lock-alt {
    font-size: 28px;
    color: #0D7377;
}

.form-control {
    border: none;
    outline: unset !important;
    box-shadow: 0 0 0 0 !important;
}

input:focus {
    border: none;
    outline: none !important;
    box-shadow: 0 0 0 0 !important;
}

input[type=button] {
    background-color: #32E0C4 !important;
}

input:focus ~ .floating-label-login,
input:focus ~ .floating-label-signup,
input:not(:focus):valid ~ .floating-label-login,
input:not(:focus):valid ~ .floating-label-signup,
select:focus ~ .floating-label-login,
select:focus ~ .floating-label-signup,
select:not(:focus):valid ~ .floating-label-login,
select:not(:focus):valid ~ .floating-label-signup {
    top: -10px;
    bottom: 20px;
    left: 0;
    font-size: 11px;
    opacity: 1;
}

.form-control {
    font-size: 14px;
    width: 200px;
    height: 35px;
}


.floating-label-login {
    color: #495057;
    position: absolute;
    pointer-events: none;
    top: 6px;
    left: 55px;
    z-index: 999;
    transition: 0.3s ease all;
}

.floating-label-signup {
    color: #495057;
    position: absolute;
    pointer-events: none;
    top: 6px;
    left: 15px;
    z-index: 999;
    transition: 0.3s ease all;
}

.login_btn {
    border: none;
    outline: none !important;
    box-shadow: none !important;
    border-radius: 50px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    background-color: #32E0C4;
    width: 220px;
    height: 43px;
    margin-top: 15%;
}

.login_btn:hover {
    background-color: #32E0C4;
    color: black;
}

.forgot-password-link {
    width: 105%;
    margin: 0 auto;
    text-align: center;
    color: rgba(19, 44, 51, 0.6);
}

.links a {
    margin-left: 4px;
}

.input-group .form-group {
    align-items: center;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 20px;
}

.form-validation-feedback {
    margin: 0 10px;
    font-size: 13px;
    color: red;
}


div#main-section .input-group {
    border-bottom: 1px solid #E6E6E6;
}

/*--------------------------------------------------------------
 End Login page
--------------------------------------------------------------*/
/*--------------------------------------------------------------
 Sign up page
--------------------------------------------------------------*/
.heading-centered {
    width: 100%;
    color: #32E0C4;
    font-size: 12px;
    font-weight: 700;
}
/*--------------------------------------------------------------
 End Sign up page
--------------------------------------------------------------*/
/*--------------------------------------------------------------
 Agenda page
--------------------------------------------------------------*/
.card-body {
    margin: 0;
    padding: 0;
}

.meeting-date {
    font-size: 20px;
    font-weight: 700;
    color: #0D7377;
    margin-bottom: 22px;
}
.meeting-container .meeting-date{
    margin: 0px 15px 15px;
}

.xdsoft_datetimepicker .xdsoft_calendar td:hover, .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box >div >div:hover{
    background: #32E0C4 !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default, .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current, .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box >div >div.xdsoft_current{
    background: #0d7377 !important;
}
.bx-chevron-down {
    vertical-align: middle;
    font-size: 37px;
    margin-left: 7px;
    color: rgba(19, 44, 51, 0.6);
}

.card-description-title, .card-participants-title {
    font-size: 16px;
}

.card-text {
    font-size: 13px;
}

.bx-trash {
    vertical-align: middle;
    font-size: 17px;
}

.btn-danger {
    width: 35px;
    height: 33px;
}

.agenda-button-row {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-info {
    margin-left: 8px;
    width: 90px;
    height: 33px;
    font-size: 13px;
}

.bx-edit-alt {
    vertical-align: middle;
}

.bx-right-arrow-alt {
    vertical-align: middle;
    margin-left: 2px;
    font-size: 20px;
}

.btn-success {
    background-color: #0D7377;
    margin-left: 40px;
    font-size: 13px;
    width: 130px;
    height: 33px;
}

ul.task {
    padding: 0;
    list-style: none;
    color: #707070;
}

li.task {
    font-size: 17px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 15px;
}

ul.tasks {
    list-style: none;
    color: #707070;
}

li.task.open i {
    transform: rotate(180deg);
}

li.task i {
    transition: transform .5s ease;
}

.bx-plus {
    vertical-align: middle;
    font-size: 40px;
    border-radius: 20px;
    margin-left: 9px;
    background-color: #e6e0e0;
    color: #32E0C4;
}

@media only screen and (max-width: 600px) {
    .new-meeting {
        text-align: right !important;
    }
}


.btn-new-meeting {
    margin: 40px 0 40px 0;
    font-size: 22px;
    font-weight: 700;
    color: #0D7377;
    background-color: #f7f7f7;
    border: none;
    border-radius: 50px;
    padding: 5px 5px 5px 15px;
}

.btn-new-meeting:hover {
    color: white;
    background-color: #0D7377;
    border: none;
}

/*--------------------------------------------------------------
 End Agenda page
--------------------------------------------------------------*/

/*--------------------------------------------------------------
 Meeting Comments page
--------------------------------------------------------------*/
.meeting-header {
    box-shadow: 0 37px 30px 0 rgba(20, 20, 20, 0.1);
}

.bx-chevron-left {
    color: #0D7377;
    font-size: 40px;
    margin-top: 5px;
}

.bx-chevron-left:hover {
    color: #16595c;
}

.date-heading {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid rgba(19, 44, 51, 0.2); 
    line-height: 0.1em;
    margin: 10px 0 20px; 
}

.date-heading span {
    background: white; 
    padding: 0 12px; 
}

.date {
    font-size: 12px;
}

.meeting-name {
    font-size: 26px;
    font-weight: 700;
    margin: 7px 0 0 10px;   
    color: #0D7377;
}
.bx-dots-vertical-rounded {
    font-size: 30px;
    margin: 8px 0 0 85px;
    color: #0D7377;
}

.bx-dots-vertical-rounded:hover {
    color: #16595c;
}

.messagebox {
    position: relative;
    background-color: #0D7377;
    border-radius: 20px;
    font-weight: 400;
    font-size: 17px;
    padding: 4px 10px 1px 10px;
}
 
.meeting-notes {
    background-color: #F9F9F9;
    padding: 0 0 50px 0;
}

.msg-inbox {
    overflow: hidden;
    padding-bottom: 30px;
}

.chats {
    padding: 30px 0 0 10px;   
}

.msg-page {
    height: 560px;
    overflow-y: auto;
}

.received-chats-name {
    padding: 0 0 0 10px;
}

.received-chats-name > p {
    margin-bottom: 5px;
    font-size: 14px;
}

.received-msg {
    display: inline-block;
    vertical-align: top;
    width: 85%;
}

.received-msg-inbox {
    width: 60%;
}

.received-msg-inbox p {
    background: #cecece none repeat scroll 0 0;
    border-radius: 25px;
    padding: 10px 10px 10px 10px;
    font-size: 16px;
    margin: 0;
    width: 100%;
}

.outgoing-chats {
    overflow: hidden;
    margin: 25px 10px;
}
 
.outgoing-chats p {
    background: #16595c none repeat scroll 0 0;
    border-radius: 30px; 
    padding: 10px 5px 12px 15px;
    color: white;
    font-size: 16px;
}

.outgoing-msg {
    float: left;
    width: 75%;
    margin-left: 23%;
}

.msg-typing {
    position: fixed;
    display: inline-block;
    margin: 0 auto;
    width: 90%;
    bottom: 25px;
}

.input-group {
    outline: none !important;
    border: none;
    width: 100%;
    border-color: white ;
}

.form-control {
    border-radius: 30px !important;
}


.input-group-append .input-group-text {
    border: none;
    background-color:  #fff;
}

.bxs-paper-plane {
    font-size: 25px;
}

/* Responsive CSS for Desktop View */
@media screen and (min-width: 410px) {
    .msg-typing {
        position: relative;
        width: 340px;
    }
}
/* END: Responsive CSS for Desktop View */

/*--------------------------------------------------------------
End Meeting Comments page
--------------------------------------------------------------*/

/*--------------------------------------------------------------
 Footer
--------------------------------------------------------------*/
#footer .credits {
    color: rgba(19, 44, 51, 0.6);;
    text-align: center;
    font-size: 13px;
    padding-top: 25px;
}

.social-links > p {
    color: rgba(19, 44, 51, 0.6);
    text-align: center;
}

.copyleft {
    font-size: 12px;
}


#footer {
    position: absolute;
    bottom: 15px;
    width: 100%;
}

/*--------------------------------------------------------------
 End Footer
--------------------------------------------------------------*/
/*--------------------------------------------------------------
 Meeting page 
--------------------------------------------------------------*/


div#main-section a {
    color: #0d7377;
}

body.register div#main-section .input-group {
    margin-bottom: 25px;
}

body.register div#main-section {
    margin-top: 20px;
}


body.meeting div#main-section > form {
    padding: 50px 15px;
}

body.meeting div#main-section .form-group.meeting-title {
    border-bottom: 2px solid #0D7377;
    margin: 0;
    width: 100%;
    margin-top: 25px;
}

body.meeting .meeting-title input:not(:focus):valid ~ span.floating-label-login,
body.meeting .meeting-title select:not(:focus):valid ~ span.floating-label-login{
    top: 3px;
    left: 10px;
    font-size: 23px;
    font-weight: bold;
    color: #0d7377;
    line-height: 23px;
    height: 26px;
}

body.meeting h4 {
    font-weight: 100;
    font-size: 20px;
    display: block;
    color: #545454;
}

body.meeting .input-group.form-group.meeting-desc {
    flex-direction: column;
}

body.meeting textarea.meeting-desc {
    border: unset;
}

body.meeting .datetime-container {
    display: flex;
    align-items: center;
    width: calc(100% - 20px);
    margin-top: 20px;
}

.datetime-container > * {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 5px;
}

body.meeting .datepicker, body.meeting input.timepicker {
    max-width: 80%;
    display: block;
    border: unset;
    font-size: 15px;
    padding: 10px;
}

.input-group.form-group.meeting-participants {
    margin-top: 20px;
    flex-direction: column;
    border: unset !important;
}

.meeting-headline {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

button#add_participants {
    border: unset;
    background: transparent;
    padding: 0;
    display: flex;
    margin: 0 0 0 10px;
}

.meeting-participant {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px;
    border-bottom: 1px solid #c5c5c5;
}
.meeting-participant:last-child {
    border: unset;
}
.meeting-participants-list {
    background: #F2F2F2;
    border-radius: 10px;
}

button.sticky-button {
    border: unset;
    position: absolute;
    bottom: 15px;
    background: #32E0C4;
    color: white;
    font-size: 22px;
    font-weight: bold;
    width: 220px;
    padding: 5px;
    border-radius: 20px;
    display: block;
    margin: auto;
    left: calc(50% - 110px);
}

body.meeting input:not(:focus):valid ~ .floating-label-login,
body.meeting select:not(:focus):valid ~ .floating-label-login{
    font-weight: 100;
    font-size: 20px;
    display: block;
    color: #545454;
    top: 6px;
    left: 40px;
}

body.meeting .selected input:not(:focus):valid ~ .floating-label-login,
body.meeting input:focus ~ .floating-label-login,
body.meeting .meeting-title.selected input:not(:focus):valid ~ .floating-label-login,
body.meeting .selected select:not(:focus):valid ~ .floating-label-login,
body.meeting select:focus ~ .floating-label-login,
body.meeting .meeting-title.selected select:not(:focus):valid ~ .floating-label-login{
    top: -18px;
    bottom: 20px;
    left: 0;
    font-size: 17px;
    opacity: 1;
}

.meeting-headline h4 {
    margin: 0;
}

textarea.meeting-desc:focus {
    outline: unset;
}

.input-group.form-group.meeting-desc {
    margin-top: 20px;
}
a.go-back {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
}
a.go-back img {
    margin-right: 10px;
}
/*--------------------------------------------------------------
 End Meeting page 
--------------------------------------------------------------*/

.login .input-group {
    float: none;
}
.form-control{

}
.new-meeting > a {
    margin: 0;
}
.new-meeting {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
li.task-details {
    padding: 20px;
    background: #F9F9F9;
}
.card-title {
    font-size: 18px;
    font-weight: normal;
    color: #272727;
    margin: 0;
}

.add-participants-popup-filter{
    background: rgba(0,0,0,.2);
    top: 0;
    left:0;
    bottom:0;
    right:0;
    position: fixed;
    display: none;
}
input#user_search {
    margin: 10px 15px 0;
    width: calc(100% - 30px);
    border: unset;
    border-bottom: 1px solid #d6d6d6;
    padding: 6px;
    font-size: 18px;
    margin-top: 30px;
    display: block;
}
ul.tasks {
    list-style: none;
    color: #707070;
    width: 100%;
    padding: 0;
}

button.add-participants-popup-close {
    position: absolute;
    top: 15px;
    right: 15px;
    background: unset;
    border: unset;
    width: 20px;
    height: 20px;
    padding: 0;
    display: flex;
    align-items: center;
    z-index: 1000;
    justify-content: center;
}
.add-participants-popup h2 {
    text-align: center;
    font-size: 24px;
    color: #0d7377;
    position: relative;
    margin-top: 20px;
}
.add-participants-popup h2::after {
    content: '';
    position: absolute;
    bottom: -12px;
    width: 20%;
    background: #cccccc;
    height: 3px;
    left: calc(40%);
    border-radius: 21px;
}
.add-participants-popup.open {
    display: block;
}
.add-participants-popup {
    background: white;
    left: 10px;
    bottom: 0;
    right: 10px;
    z-index: 999;
    border-radius: 10px 10px 0 0;
    max-height: 0;
    height: 90vh;
    overflow: hidden;
    transition: max-height .5s ease;
    position: absolute;
}
.add-participants-popup.open {
    max-height: 90%;
    overflow: auto;
    height: 90%;
}
.user-result {
    padding: 5px 15px;
    background: #f9f9f9;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dadada;
    margin: 0 15px;
    cursor: pointer;
}
.user-result:last-child {
    border: unset;
    border-radius: 0 0 10px 10px;
}
.user-icon {
    text-transform: capitalize;
    color: white;
    font-size: 20px;
    font-weight: bold;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 10px;
}
.meeting-participant-info{
    display: flex;
    align-items: center;
}
.phone {
    width: 375px;
    height: 812px;
    background: white;
    border-radius: 5px;
    position: relative;
}
.phone-container{
    background: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
#output_label{
    display: none
}
select[name="meeting-duration"] {
    border: unset;
    max-width: 80%;
    display: block;
    border: unset;
    font-size: 15px;
    padding: 10px;
}
body.chat .phone {
    background: #F9F9F9;
    overflow: hidden;
}
body.chat .chat-header {
    position: absolute;
    left: 0;
    top: 0;
    background: white;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    box-shadow: 0px 2px 5px #0000001c;
}
.chat-header h1 {
    font-size: 25px;
    color: #0D7377;
    margin-bottom: 0;
    line-height: 25px;
    margin-left: 14px;
    font-weight: bold;
}
.chat-header .left-column {
    display: flex;
    align-items: center;
    justify-content: center;
}
.chat-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}
button#message_send {
    background: transparent;
    border: unset;
}
input#message_input {
    padding: 5px 10px;
    width: 100%;
    border-radius: 26px;
    border: 2px solid #0D7377;
    margin-right: 10px;
}
.meeting-list div#main-section .card{
    height: 630px;
    overflow: auto;
}
body select:focus-visible{
    outline:unset;
}
.btn.btn-primary:not(.disabled):active {
    background: #0d7377;
    color: white;
}
div#main-section a.btn.btn-primary.btn-new-meeting:hover {
    color: white;
}
button:focus {
    outline: unset;
}
span.card-hours i.bx.bx-chevron-down {
    color: #0d7377;
}

button.btn-delete-meeting {
    border: unset;
    background: #FF0000;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

button.btn-delete-meeting img {
    width: 20px;
}

a.btn-edit-meeting {
    background: transparent;
    /* border: unset; */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #858585;
    border-radius: 5px;
    margin-left: 8px;
    padding: 5px 10px;
}

a.btn-edit-meeting span {
    line-height: 18px;
    margin-left: 8px;
    color: #858585;
    font-size: 15px;
}

.agenda-button-row .left-container {
    display: flex;
    align-items: center;
    /* justify-content: center; */
}



a.btn-edit-meeting img {
    width: 17px;
}

div#main-section a.btn-enter-meeting {
    background: #0D7377;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 10px;
    border-radius: 5px;
}

div#main-section a.btn-enter-meeting img {
    width: 15px;
    margin-left: 8px;
}

div#main-section a.btn-enter-meeting span {
    line-height: 15px;
}
a.btn.btn-primary.btn-new-meeting {
    display: flex;
    box-shadow: none;
    align-items: center;
}
.message-list {
    display: flex;
    flex-direction: column-reverse;
    height: calc(100% - 105px);
    overflow: auto;
    padding: 0 15px;
    top: 55px;
    position: absolute;
    left: 0;
    right: 0;
}

span.message-text {
    font-size: 17px;
}
.message-text {
    font-size: 18px;
    color: #848484;
    padding: 10px 10px;
    background: white;
    max-width: 80%;
    margin: 5px 0;
    border-radius: 7px;
    width: max-content;
    line-height: 21px;
}
.message.mine .message-text {
    color: white;
    background: #0d7377;
    float: right;
}
span.message-author {
    color: #a2a2a2;
    margin-left: 5px;
}
#floating_window_toggler {
    cursor: pointer;
    background: transparent;
    border: unset;
    padding: 0 10px;
}
.floating-menu {
    left: 100%;
    width: 80%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background: white;
    overflow: hidden;
    transition: left .5s ease;
    z-index: 2;
    padding: 50px 15px 20px 20px;
}
.floating-menu.active {
    width: 80%;
    left: 20%;
}
.floating-menu-filter {
    background: #00000024;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: opacity .5s ease;
    z-index: -1;
}
.floating-menu-filter.active {
    opacity: 1;
    z-index: 1;
}
button#close_floating_menu {
    background: transparent;
    position: absolute;
    right: 10px;
    top: 10px;
    border: unset;
}

button#close_floating_menu img {
    width: 20px;
}

.floating-menu h3 {
    color: #0D7377;
    font-size: 19px;
    font-weight: 700;
}

.floating-menu button#edit_date,
.floating-menu button#save_date,
.floating-menu button#edit_title,
.floating-menu button#save_title,
.floating-menu button#edit_description,
.floating-menu #save_description,
.floating-menu button#edit_participants {
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    border: unset;
}
.floating-menu button#save_date,
.floating-menu button#save_description,
.floating-menu button#save_title
{
    display: none;
}
.floating-menu .date-container,
.floating-menu .description-container,
.participants-container,
.title-container
{
    margin-bottom: 25px;
    position: relative;
}
.floating-menu span.meeting-decription {
    color: #717171;
    line-height: 22px;
    font-size: 15px;
}
.floating-menu button#leave_meeting {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    background: transparent;
    border: unset;
}
.floating-menu button#leave_meeting h3 {
    color: #FF0000;
}
.floating-menu textarea.meeting-decription,
.floating-menu textarea.meeting-title
{
    width: calc(100% + 10px);
    line-height: 19px;
    font-size: 14px;
    background: white;
    resize: none;
    margin: 0 -5px;
}
.floating-menu textarea.meeting-decription {
    width: 100%;
    line-height: 19px;
    font-size: 14px;
    background: white;
    border: 1px solid #c3c3c3;
    outline: unset;
    padding: 5px;
}
.floating-menu textarea.meeting-decription.disabled,
.floating-menu textarea.meeting-title.disabled
{
    resize: none;
    border: unset;
}
.floating-menu button#save_date img,
.floating-menu button#save_description img,
.floating-menu button#save_title img
{
    width: 15px;
}
button.remove-participant,
button.remove-search-participant{
    background: transparent;
    border: unset;
}
.meeting-participants-edit.visible {
    max-height: 50%;
    overflow: visible;
    border: 1px solid #d4d4d4;
}
.meeting-participants.hidden {
    display: none;
}
.meeting-participants-edit {
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s ease;
}
.meeting-list .logo-container {
    display: block;
    width: 70%;
    margin-right: 15%;
}
.meeting-list nav.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.meeting-list .logo-container > img {max-width: 100%;margin: 0;}

button#notifications_button img {
    max-width: 25px;
}
button#logout_button {
    background: transparent;
    border: unset;
}
button#notifications_button {
    border: 2px solid #0d7377;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 15px;
    z-index: 9999;
    background: white;
}
button#logout_button img {
    width: 20px;
}
.notification-count {
    line-height: 15px;
    font-size: 15px;
    color: white;
    position: absolute;
    background: #32e0c4;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -7px;
    right: -7px;
    font-weight: 700;
}

.notification-popup-filter {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #00000021;
    z-index: -1;
    border-radius: 5px;
    opacity: 0;
    transition: all .5s ease-in;
}
.notification-popup-filter.open{
    z-index: 99;
    opacity: 1;
}
.notification-popup {
    z-index: 9999;
    width: 80%;
    position: absolute;
    height: 80%;
    background: white;
    top: 75px;
    right: -80%;
    border-radius: 5px;
    transition: right .3s ease-in;
    padding: 20px;
}
.notification-popup.open {
    right: 10px;
}
.notification-popup::before {
    position: absolute;
    top: -20px;
    right: 15px;
    content: '';
    width: 10px;
    height: 10px;
    border-left: 10px solid transparent;
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
}
body.meeting-list .phone {
    overflow: hidden;
}
button.accept-invitation,button.remove-invitation {
    background: transparent;
    border: 1px solid #0D7377;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
}


.invitation {
    position: relative;
}
button.accept-invitation {
    right: 0;
}
.notification-container h3 {
    font-size: 19px;
    margin-right: 70px;
    margin-bottom: 10px;
    color: #0D7377;
    font-weight: 700;
}
.notification-container img {
    max-width: 12px;
}

button.remove-invitation {
    right: 30px;
}
.notification-container a {
    text-decoration: none;
}
.notification-container {
    margin-bottom: 20px;
}
.notification-container .meeting-text {
    color: black;
    font-size: 15px;
    line-height: 19px;
}
.floating-menu .editing button#add_participant{
    display: inline-flex;
}
.floating-menu button#add_participant {
    background: transparent;
    border: 2px solid #0d7377;
    width: 20px;
    height: 20px;
    padding: 0;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 10px;
    display: none;
}
.floating-menu button#add_participant img {
    width: 10px;
}
.floating-menu .participants-container h3 {
    display: flex;
    align-items: center;
}
.floating-menu .meeting-participant.search {
    position: relative;
    overflow: visible;
}
.floating-menu .search-results .user-result {
    margin: 0;
}
.floating-menu .search-results {
    position: absolute;
    top: 100%;
    z-index: 9999;
    width: calc(100% + 2px);
    left: 0;
    border: 1px solid #cacaca;
    border-radius: 0 0px 10px 10px;
    margin: 0 -1px;
}
.floating-menu .search-participant {
    border: unset;
}
span.successfull_addition {
    display: block;
    font-size: 15px;
    color: #0d7377;
    font-weight: 500;
    line-height: 15px;
    margin-top: 15px;
}
input#edit_meeting_date {
    border: unset;
    padding: 5px 5px;
    width: 100%;
    margin: 0;
    background: white;
}
input#edit_meeting_date:not(:disabled) {
    border: 1px solid #bbbbbb;
}