<!DOCTYPE html>
<html lang="en-US">

<head>
    <title th:tex="${meeting.name+' | Unipi Agenda'}"></title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width = device-width, initial-scale= 1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="img/favicon.ico">
    <!-- CSS -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <link href="boxicons-2.0.7/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- SEO tags -->
</head>
<body class="chat">
<div class="phone-container">
    <div class="phone">
        <div class="chat-header">
            <div class="left-column">
                <a href="/user">
                    <img src="img/arrow-left-black.svg">
                </a>
                <h1 th:text="${meeting.name}"></h1>
            </div>
            <div class="right-column">
                <button id="floating_window_toggler">
                    <img src="img/3-dots.svg">
                </button>
            </div>
        </div>

        <div class="message-list">
            <div class="message-container" th:each="meeting_comment:${meeting.comments}">
                <!-- My comments -->
                <div th:if="${meeting_comment.user.username == user.username}" class="message mine">
                    <div class="message-text" th:text="${meeting_comment.message}"></div>
                </div>

                <!-- User users comments -->
                <div th:unless="${meeting_comment.user.username == user.username}" class="message">
                    <span class="message-author" th:text="${meeting_comment.user.firstName+' '+meeting_comment.user.lastName}"></span>
                    <div class="message-text" th:text="${meeting_comment.message}"></div>
                </div>
            </div>

        </div>

        <div class="chat-footer">
            <input type="text"
               id="message_input"
               placeholder="Enter your message here"
               th:data-id-meeting="${meeting.id}"
               th:data-username="${user.username}"
            >
            <button type="button" id="message_send">
                <img src="img/paper-plane.svg">
            </button>
        </div>

        <div class="floating-menu-filter"></div>
        <div class="floating-menu">
            <button id="close_floating_menu">
                <img src="img/close.svg">
            </button>
            <div class="description-container">
                <h3>Description</h3>
                <button id="edit_description"><img src="img/edit-green.svg"></button>
                <button id="save_description" th:data-id-meeting="${meeting.id}">
                    <img src="img/save.svg">
                </button>
                <textarea class="meeting-decription disabled" rows="4"
                          th:text="${meeting.description}" disabled></textarea>
            </div>
            <div class="participants-container">
                <h3>Participants</h3>
                <button id="edit_participants">
                    <img src="img/edit-green.svg">
                </button>
                <div class="meeting-participants">
                    <strong th:text="${meeting.admin.username}"></strong>
                    <span th:each="participant: ${meeting.participants}">
                        <span th:text="', '+${participant.username}"></span>
                    </span>
                </div>
                <div class="meeting-participants-edit">
                    <div class="meeting-participant">
                        <strong th:text="${meeting.admin.username}"></strong><span>(admin)</span>
                    </div>
                    <div class="meeting-participant" th:each="participant: ${meeting.participants}">
                        <span th:text="${participant.firstName+' '+participant.lastName}"></span>
                        <button class="remove-participant"
                            th:data-username="${participant.username}"
                            th:data-id-meeting="${meeting.id}"
                        >
                            <img src="exit-black.svg">
                        </button>
                    </div>
                </div>
            </div>
            <div class="leave-container">
                <button id="leave_meeting">
                    <h3>Leave group</h3>
                    <img src="img/exit-red.svg">
                </button>
            </div>
        </div>
    </div>
</div>
<!-- ======= Main Section ======= -->


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
<script src="/js/chat.js"></script>

</body>
</html>