<!DOCTYPE html>
<html lang="en-US">

<head>
    <!-- TODO: Username of the user loged in goes to the page title -->
    <title>$meeting_name | Unipi Agenda</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width = device-width, initial-scale= 1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="img/favicon.ico">

    <!-- CSS -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="boxicons-2.0.7/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
<div class="phone-container">

<div class="phone">

    <!-- ======= Main Section ======= -->
    <div id="main-section" class="container ">
        <div class="d-flex justify-content-center h-100">
            <div class="card" style="width: 20rem;">

                <!-- TODO: Implement GO Back button -->
                <!-- TODO: Implement Settings/Menu Modal -->
                <div class="row meeting-header">
                    <a href="agenda.html"><i class='bx bx-chevron-left'></i></a>
                    <h3 class="meeting-name">Work Meeting</h3>
                    <a href="meeting_menu.html"><i class='bx bx-dots-vertical-rounded'></i></a>
                </div>


                <div class="meeting-notes">
                    <div class="msg-inbox">
                        <div class="chats">
                            <div class="msg-page">

                                <!-- Dummy Comments for testing the UI/UX -->
                                <div class="received-chats">
                                    <h2 class="date-heading"><span class="date"> Tuesday 30 April</span></h2>
                                    <div class="received-chats-name">
                                        <p>I.Brinias</p>
                                    </div>
                                    <div class="received-msg">
                                        <div class="received-msg-inbox">
                                            <p>Hi!! This is John Wick, an old friend of Mary.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="outgoing-chats">
                                    <div class="outgoing-msg">
                                        <p>Hey John, long time no see!</p>
                                    </div>
                                </div>
                                <div class="received-chats">
                                    <div class="received-chats-name">
                                        <p>N. Mitsos</p>
                                    </div>
                                    <div class="received-msg">
                                        <div class="received-msg-inbox">
                                            <p>Hi!! This is John Wick, an old friend of Mary.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="outgoing-chats">
                                    <div class="outgoing-msg">
                                        <p>When is our meeting planned for ?</p>
                                    </div>
                                </div>
                                <div class="outgoing-chats">
                                    <div class="outgoing-msg">
                                        <p>When is our meeting planned for ?</p>
                                    </div>
                                </div>
                                <div class="outgoing-chats">
                                    <div class="outgoing-msg">
                                        <p>When is our meeting planned for ?</p>
                                    </div>
                                </div>
                                <!-- END: Dummy Comments for testing the UI/UX -->
                            </div>
                        </div>
                    </div>
                </div>


                <div class="msg-typing">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Type your message..">
                        <div class="input-group-append">
                            <span class="input-group-text"><a href="#"><i class='bx bxs-paper-plane'></i></a></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</div>

<!-- ======= End Main Section ======= -->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>